[user]
	name = "{{ git_name }}"
	email = "{{ git_email }}"
[commit]
{% if git_signingkey %}
	gpgsign = true
	signingkey = {{ git_signingkey }}
{% else %}
	gpgsign = false
{% endif %}
# vim: noet ts=4 sw=4 sts=0 ft=gitconfig
