---
- name: Install Lima
  community.general.homebrew:
    name: "lima"
    state: present

- name: Create "default" lima-vm instance
  ansible.builtin.shell: "limactl create --vm-type=vz --rosetta --mount=~/Developer:w --mount=/var/folders:w --mount=/private/var/folders:w --mount-type=virtiofs --memory=16 --tty=false --set '.ssh.forwardAgent=true' --set '.nestedVirtualization=true' --name=default https://raw.githubusercontent.com/felix-kaestner/lima-templates/refs/heads/main/docker-k8s.yaml 2>/dev/null || true"

- name: Create "docker" executable
  ansible.builtin.copy:
    content: |
      #!/bin/sh
      set -eu
      exec lima docker "$@"
    dest: "{{ ansible_env.HOME }}/.local/bin/docker"
    mode: "0755"
